  body {
            font-family: sans-serif;
            background-color: #F5F5DC;
            /*color: red;*/
        }
        
        #shape {
            width: 200px;
            height: 200px;
            background-color: red;
            /*display: none;*/
            position: relative;
        }

        .bold {
            font-weight: bold;
        }